 <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Giới thiệu</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Chúng tôi đã NHẬN sự giúp đỡ hoặc hỗ trợ của nhiều người - tổ chức, (đôi khi không bao giờ được gặp mặt, hay quen biết "bằng xương bằng thịt"), để phát triển con đường sự nghiệp và xây dựng cuộc sống của mình trong lĩnh vực khoa học sức khoẻ và giáo dục. Bản thân chúng tôi đang tiếp tục hành trình tìm hiểu và đóng góp trong lĩnh vực khoa học sức khoẻ, đặc biệt là nghiên cứu khoa học. Không đợi đến khi "có chút gì" rồi mới CHO đi,chúng tôi quyết định thành lập Quỹ học bổng nhà Xanh để thực hiện điều này, ngay khi chúng tôi còn là những người nghiên cứu trẻ tuổi và vừa bắt đầu sự nghiệp khoa học. 
Cho chính là Nhận và Nhận chính là Cho, theo một cách bình đẳng, tôn trọng, trung thực và hướng đến điều tốt đẹp, là giá trị SỐNG và LÀM VIỆC chúng tôi mong muốn. 

Mục đích của chúng tôi là CHIA SẺ và PHÁT TRIỂN.</p>
                </div>
                <div class="col-lg-4">
                    <p>Whether you're a student looking to showcase your work, a professional looking to attract clients, or a graphic artist looking to share your projects, this template is the perfect starting point! </p>
                </div>
            </div>
        </div>
    </section>