-- <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 text-right">
                    <h2>Giới thiệu</h2>
                    <hr class="star-primary">
                </div>
                <div class="col-sm-6 text-left">
                    <h2>About us</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 text-justify">
                    <p>Chúng tôi là nhóm các nhà khoa học trẻ, hoạt động độc lập, nhằm hướng đến việc khuyến khích và tạo điều kiện cho thanh niên đang học tập và làm việc trong lĩnh vực sức khỏe gắn kết với các hoạt động nghiên cứu khoa học.</p>
                    <p>Khác với cách đào tạo kiến thức sách vở và xa rời thực tế cụ thể tại Việt Nam vốn đã cho thấy sự thiếu hiệu quả trong việc thu hút thanh niên tham gia các hoạt động nghiên cứu khoa học, chúng tôi đưa ra giải pháp tập trung vào cả 4 nhóm tác động: "động lực", "kiến thức", "kỹ năng", và "hành động":</p>
                    <p>- Về "Động lực": chúng tôi cho thanh niên thấy tầm quan trọng và sự gần gũi của nghiên cứu khoa học, cũng như tính khả thi của việc thực hiện nghiên cứu khoa học tại Việt Nam.</p>
                    <p>- Về "Kiến thức": chúng tôi kết nối với các nhà khoa học trẻ để cung cấp các kiến thức cập nhật và có tính ứng dụng cao, cùng những kinh nghiệm thực tế cho các bạn trẻ.</p>
                    <p>- Về "Kỹ năng": chúng tôi kết nối với các nhà khoa học trẻ để cung cấp các kỹ năng cần thiết để thực hiện các nghiên cứu có tính khoa học cao và phù hợp với điều kiện/hoàn cảnh tại Việt Nam.</p>
                    <p>- Về "Hành động": các bạn trẻ tham gia các hoạt động của chúng tôi được trực tiếp tham gia các hoạt động nghiên cứu khoa học nhằm giải quyết các vấn đề thường gặp trong cộng đồng.</p>
                    <p>Đồng thời, chúng tôi chủ trương kết nối khoa học với công chúng thông qua tăng cường trao đổi, đối thoại giữa các nhà khoa học và công chúng; từ đó góp phần tạo ra xã hội ủng hộ, trân trọng và biết tận dụng sản phẩm/thành quả từ nghiên cứu khoa học.</p>
                </div>
                <div class="col-sm-6 text-justify">
                  <p>We are a group of young scientists working independently, aim to encourage and create an environment for young healthcare personnel to engage research.</p>
                  <p>Different to the traditional learning approach which is impractical and ineffective in attracting young people to participate research activities in Vietnam, we use an approach that focuses on all 4 aspects: "motivation", "knowledge", "skill", and "action": </p>
                  <p>We also connect science and public by improving communication between scientists and general public, in order to create a society that supports, appreciates and utilise research products.</p>
                  </div>
            </div>
        </div>
    </section>