-- <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Giới thiệu</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>Xanh Foundation hiện diện nhằm cải thiện sức khoẻ con người thông qua việc hỗ trợ các hoạt động nghiên cứu khoa học về sức khoẻ con người.
                    Chúng tôi là nhóm các nhà khoa học trẻ, hoạt động phi lợi nhuận và độc lập. Chúng tôi hỗ trợ nhân viên y tế và sinh viên nhóm ngành y sinh trên bước đường khởi đầu sự nghiệp khoa học, nâng cao chất lượng nghiên cứu y sinh học và biến bằng chứng từ nghiên cứu thành thực hành hữu ích phục vụ sức khoẻ con người.</p>
                    <p>Xanh Foundation hướng đến việc phát huy năng lực tìm tòi và nghiên cứu phục vụ sức khoẻ con người.
                    Thông qua các giá trị:
                    -	Sáng tạo 
                    -	Chia sẻ 
                    -	Trung thực</p> 
                    <p>Khi “nghiên cứu khoa học” được xem là việc đi tìm câu trả lời cho một câu hỏi, thì vấn đề đặt ra là “Câu hỏi là gì?”. Việc khuyến khích người trẻ và người làm về lĩnh vực y tế đặt câu hỏi về các thực hành lâm sàng và thực hành chăm sóc sức khoẻ con người nên được ưu tiên. Xanh Foundation muốn cùng góp phần tạo nền móng xây dựng con đường nghiên cứu vững chắc trong lĩnh vực chăm sóc sức khoẻ con người 
</p>
                </div>
            </div>
        </div>
    </section>