
    <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 text-right">
                    <h2>Hoạt động</h2>
                    <hr class="star-primary">
                </div>
                <div class="col-lg-6 text-left">
                    <h2>Activities</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                {% for post in site.categories.portfolio %}
                    <div class="col-sm-4 portfolio-item">
                        <a href="#portfolioModal-{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-search-plus fa-3x"></i>
                                </div>
                            </div>
                            <img src="{{ site.url }}/img/portfolio/{{ post.img }}" class="img-responsive" alt="{{ post.alt }}">
                            <center><p style='color: #{{ site.color.secondary }}'>
                              <strong>{{ post.title }}</strong>
                              <!-- <strong>{{ post.title }} ({{ post.project-date | date: '%m-%Y'}})</strong> -->
                            </p></center> 
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>