<!-- Team section -->
    <section class="success" id="team">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 text-right">
            <h2>Thành viên</h2>
            <hr class="star-light">
          </div>
          <div class="col-sm-6 text-left">
            <h2>Our team</h2>
            <hr class="star-light">
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 text-center">
            <div class="team-member">
              <img class="img-rounded" src="img/team/nhiltq.jpg" alt="">
              <h4>Lê Thị Quỳnh Nhi</h4>
              <p>Người sáng lập - Founder</p>
              <ul class="list-inline social-buttons">
                <li class="list-inline-item">
                  <a href="#">
                    <i class="fa fa-twitter"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="#">
                    <i class="fa fa-facebook"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="#">
                    <i class="fa fa-linkedin"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-sm-6 text-center">
            <div class="team-member">
              <img class="img-rounded" src="img/team/lampk.jpg" alt="">
              <h4>Phùng Khánh Lâm</h4>
              <p>Người sáng lập - Founder</p>
              <ul class="list-inline social-buttons">
                <li class="list-inline-item">
                  <a href="#">
                    <i class="fa fa-twitter"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="#">
                    <i class="fa fa-facebook"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="#">
                    <i class="fa fa-linkedin"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 mx-auto text-justify">
            <p class="large">Từ lúc thành lập đến nay, nhiều bạn trẻ tài năng và nhiệt huyết đã đồng hành cùng Xanh Foundation để xây dựng và thực hiện các hoạt động của nhóm</p>
            <ul>
  <li>CN Trương Thị Thanh Lan</li>
  <li>CN Nguyễn Thị Ngọc Diễm</li>
  <li>BS Nguyễn Minh Nhân</li>
  <li>ThS Lê Thảo Nguyên</li>
  <li>ThS Nguyễn Thị Kim Ngọc</li>
  <li>ThS Nguyễn Quốc Giang</li>
  <li>ThS Nguyễn Thị Trường Xuân</li>
</ul>
          </div>
        </div>
      </div>
    </section>